MARKETPLACE_DB_HOST=localhost
MARKETPLACE_DB_PORT=5432
MARKETPLACE_DB_USER=postgres
MARKETPLACE_DB_PASS=trustandquality
MARKETPLACE_DB_NAME=trustandquality
MARKETPLACE_DB_CONN_MAX=5
# MARKETPLACE_DB_SSL=

PORT=3001


